<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay your Order</title>
    <script src="https://api.exactpaysandbox.com/js/v1/exact.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <h1 style="text-align: center">Demonstration Only.</h1>
        <h2 style="text-align: center">Payments are simulated and no actual funds are transferred.</h2>
        <h2 style="text-align: center; color: #7ac833;">
            <a href="https://developer.exactpay.com/docs/Sandbox-Test-Cards">TEST CARDS</a>
        </h2>
        <p style="text-align: center"> Your Order total is: <strong th:text="${amount}"></strong></p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; min-width: 500px">
    <form id="myForm" action="your_form_url" method="post">
        <div>
            <label for="email-address">Email address</label>
            <input type="email" id="email-address" name="email-address" autocomplete="email">
        </div>
        <div id="cardElement">
            <!-- our credit card UI component will be attached here -->
        </div>

        <input type="hidden" name="payment_id" id="payment_id">

        <div>
            <input type="submit" name="commit" value="Pay Now" data-disable-with="Pay Now">
        </div>
    </form>
    </div>
</div>
</body>
<script th:inline="javascript">

    const exact = ExactJS([[${accesstoken}]]);
    const components = exact.components({orderId: [[${orderid}]]});

    components.addCard('cardElement', {
        billingAddress: {
            type: "full"
        },
        style: {
            default: {
                backgroundColor: "white",
                padding: "3px"
            },
            error: {
                backgroundColor: "blue",
                border: "2px dashed deeppink",
                borderRadius: "10px"
            }
        }
    });

    document.getElementById("myForm").addEventListener('submit', (event) => {
        event.preventDefault();

        const form = event.target.closest("form");
        exact.payOrder()
            .then(payment_id => {
                // add the payment id to your form
                document.getElementById('payment_id').value = payment_id
                // submit your form to your backend
                form.submit()
            })
            .catch(err => console.error(err));
    });

    exact.on("payment-complete", (payload) => {
        // add the payment id to your form
        document.getElementById('payment_id').value = payload.paymentId;
       // alert('Payment Id: '+payload.paymentId);
        // submit your form to your backend

        window.location = "/confirm?paymentId="+payload.paymentId;
    });

    exact.on("payment-failed", (payload) => {
        const errorElem = document.getElementById("errors");
        Array.from(payload).forEach(err => {
            const pElem = document.createElement("p");
            pElem.textContent = err;
            errorElem.append(pElem);
        });
        errorElem.classList.remove("hidden");
    });

</script>

</html>